.theme-dark div[src$="#invert"] img,
.theme-dark span[src$="#invert"] img {
  filter: invert(1) hue-rotate(180deg);
  mix-blend-mode: screen; }

.theme-dark div[src$="#invert"] {
  background-color: var(--background-primary); }

.theme-light div[src$="#invertW"] img,
.theme-light span[src$="invertW"] img {
  filter: invert(1) hue-rotate(180deg); }